<h1 class="app-title">Rick And Morty Demo App</h1>

<section class="search-container">
  <app-search-box></app-search-box>
</section>

<ng-container *ngIf="characterList$ | async as characterList">
  <ng-container *ngIf="!isLoading; else loading">
    <section class="list-container">
      <app-character-summary-card
        *ngFor="let character of characterList"
        [character]="character"
      ></app-character-summary-card>
    </section>
  </ng-container>
  <ng-template #loading>
    <app-loader [message]="'Loading Characters'"></app-loader>
  </ng-template>
</ng-container>

<section class="pagination" *ngIf="characterInfo.pages">
  <app-paginator [totalPages]="characterInfo.pages"></app-paginator>
</section>
