.app-title {
  text-align: center;
  font-size: var(--font-xl);
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--character-list__card-width));
  gap: 40px;
  justify-content: center;
  margin: 40px;
}

.app-title,
.search-container,
.pagination {
  margin: 40px auto;
}

.loading-characters {
  text-align: center;
}
