.paginator {
  display: flex;
  justify-content: center;

  span {
    text-align: center;
  }

  &__state {
    margin: 0 10px;
  }

  &--disabled {
    border-color: var(--warm-black);
    cursor: initial;
  }
}
