<section class="paginator">
  <span
    class="chevron-left"
    [ngClass]="disablePreviousClass$ | async"
    (click)="previousPage()"
  ></span>
  <span class="paginator__state">
    {{ currentPage$ | async }} / {{ totalPages }}
  </span>
  <span
    class="chevron-right"
    [ngClass]="disableNextClass$ | async"
    (click)="nextPage()"
  ></span>
</section>
