<section class="return-to-list" (click)="goToList()">
  <span class="chevron-left"></span>
  <span>Back to character list</span>
</section>
<section
  class="character-details"
  *ngIf="characterData$ | async as characterData; else loading"
>
  <img [src]="characterData.image" alt="Profile Photo" />
  <ng-container *ngFor="let details of characterData.details">
    <h3>{{ details.title }}</h3>
    <p>{{ details.content }}</p>
  </ng-container>
</section>

<ng-template #loading>
  <section class="loader" *ngIf="!isError; else error">
    <app-loader [message]="'Loading Character Details'"></app-loader>
  </section>

  <ng-template #error>
    <section class="error-message">
      <div>
        <p>There was an error while loading the data</p>
        <p>Please reload or select another character</p>
      </div>
    </section>
  </ng-template>
</ng-template>
