.character-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px auto 100px auto;

  img {
    width: var(--image-size-md);
    height: var(--image-size-md);
    border-radius: 50%;
  }

  h3 {
    margin: 52px auto 4px auto;
    font-size: var(--font-md);
    font-weight: bold;
  }

  p {
    font-size: var(--font-lg);
  }
}

.loader,
.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.return-to-list {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 80px;
  cursor: pointer;

  .chevron-left {
    margin-right: 4px;
  }
}
