.search-box {
  text-align: center;

  &__input {
    width: 30%;
    min-width: 230px;
    max-width: 600px;
    color: var(--warm-white);
    background-color: var(--dark-gray);
    padding: 15px;
    border: 1px solid var(--warm-white);
    border-radius: 15px;
  }
}
