.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  img {
    width: var(--image-size-md);
    height: var(--image-size-md);
  }

  p {
    margin-top: 40px;
    font-size: var(--font-xl);
  }
}
