.status {
  display: flex;
  align-items: center;

  &__icon,
  &__text {
    display: inline-block;
  }

  &__icon {
    width: 10px;
    height: 10px;
    margin-right: 8px;
    border-radius: 50%;
  }

  &--alive {
    background-color: var(--green);
  }

  &--dead {
    background-color: var(--red);
  }

  &--unknown {
    background-color: var(--gray);
  }
}
