@mixin chevron-fill($color, $border: 5px) {
  border-top: $border solid $color;
  border-right: $border solid $color;
  border-radius: $border;
}

@mixin chevron($rotation) {
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate($rotation);
  -webkit-transform: rotate($rotation);
  @include chevron-fill(var(--gray));

  &:hover {
    @include chevron-fill(var(--warm-white));
    cursor: pointer;
  }
}

.chevron-left {
  @include chevron(-135deg);
}

.chevron-right {
  @include chevron(45deg);
}
