$minimum-size: 320px;
$sm-breakpoint: 600px;
$lg-breakpoint: 1260px;

:root {
  @media all and (max-width: $minimum-size) {
    --viewport-display: none;
    --viewport-alert: initial;
  }

  @media all and (min-width: $minimum-size) and (max-width: $sm-breakpoint) {
    --viewport-display: initial;
    --viewport-alert: none;
    --character-list__card-width: 90vw;
    --character-summary-card__grid-columns: 1fr;
  }

  @media all and (min-width: $sm-breakpoint) and (max-width: $lg-breakpoint) {
    --viewport-display: initial;
    --viewport-alert: none;
    --character-list__card-width: 600px;
    --character-summary-card__grid-columns: 2fr 3fr;
  }

  @media all and (min-width: $lg-breakpoint) {
    --viewport-display: initial;
    --viewport-alert: none;
    --character-list__card-width: 600px;
    --character-summary-card__grid-columns: 2fr 3fr;
  }
}
