:root {
  --warm-black: #24282e;
  --dark-gray: #3c3d44;
  --gray: #707174;
  --light-gray: #b8b8ba;
  --warm-white: #efefef;
  --red: #d53c2d;
  --green: #54cc44;

  --font-sm: 16px;
  --font-md: 18px;
  --font-lg: 28px;
  --font-xl: 36px;

  --image-size-md: 300px;
}
