.viewport-alert {
  display: var(--viewport-alert);

  &__container {
    display: flex;
    align-items: center;
    height: 100vh;
  }

  &__text {
    font-size: var(--font-xl);
    text-align: center;
    margin: 20px;
  }
}

.main-layout {
  display: var(--viewport-display);
}
