<main class="main-layout">
  <router-outlet></router-outlet>
</main>
<section class="viewport-alert">
  <div class="viewport-alert__container">
    <p class="viewport-alert__text">
      Device width is not large enough to display the content
    </p>
  </div>
</section>
