<article class="summary-card" [routerLink]="routerLink">
  <img
    class="summary-card__image"
    [src]="character.image"
    [alt]="character.name"
  />
  <section class="summary-card__info">
    <section>
      <p class="summary-card__info__name">{{ character.name }}</p>
      <app-character-status [character]="character"></app-character-status>
    </section>
    <section>
      <h3 class="summary-card__info__subtitle">Last known location:</h3>
      <p class="summary-card__info__description">
        {{ character.location.name }}
      </p>
    </section>
    <section>
      <h3 class="summary-card__info__subtitle">Origin:</h3>
      <p class="summary-card__info__description">{{ character.origin.name }}</p>
    </section>
  </section>
</article>
