.summary-card {
  display: grid;
  grid-template-columns: var(--character-summary-card__grid-columns);
  max-width: 600px;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
  border: 2px solid transparent;
  cursor: pointer;

  &:hover {
    border: 2px solid var(--light-gray);
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--dark-gray);

    &__name {
      font-size: var(--font-lg);
    }

    &__subtitle {
      font-size: var(--font-sm);
      color: var(--gray);
      font-weight: bold;
      margin-bottom: 10px;
    }

    &__description {
      font-size: var(--font-md);
      color: var(--light-gray);
    }
  }
}
