.loader {
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 4px solid var(--warm-white);
    border-right: 4px solid transparent;
    border-radius: 50%;
    margin-right: 20px;
    animation: rotating 0.7s linear infinite;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
